/* Static parameters */

:root {
    --standart-margin: 2rem;
    --outer-width: 25vw;
    --outer-height: 30vh;
    --inner-width: 22vw;
    --inner-height: 25vh;
    --static-width: calc(2 * var(--outer-width));
    --static-height: calc(2 * var(--outer-height));
    --main-backcolor: #1B262C;
    --outer-backcolor: #0D3F61;
    --inner-backcolor: #3282B8;
}

.react_text {
    color: #09314B;
    font-size: 40px;
    font-family: Kufam;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
}

body {
    margin: 0;
    background-color: var(--main-backcolor);
}

/* Dynamic parameters */

#centSection {
    z-index: 5;
}

.inner {
    position: relative;
    border-radius: 1rem;
    background-color: var(--inner-backcolor);
    width:  var(--inner-width);
    min-width: 15rem;
    max-height: 13rem;
    height: var(--inner-height);
    z-index: 1;
    margin: calc((var(--outer-height) - var(--inner-height)) / 2) auto;
}

.center {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}


.main-grid {
    margin: 0;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: calc(100% - (var(--static-height) + (4 * var(--standart-margin))));
    column-gap: calc(100% - (var(--static-width) + (4 * var(--standart-margin))));
    align-items: center;
    justify-items: center;
}

.outer {
    background-color: var(--outer-backcolor);
    width: var(--outer-width);
    min-width: 17rem;
    max-height: 15rem;
    height: var(--outer-height);
    padding: 0;
    margin: var(--standart-margin);
    .center {
        width: calc(var(--outer-width) + var(--standart-margin))
    };
    border-radius: 2rem;
}

.backbox {
    position: absolute;
    width: calc(-1 * var(--static-width) + 100% + 4rem);
    min-width: calc(var(--outer-width) + 4 * var(--standart-margin));
    height: calc(-1 * var(--static-height) + 100% + 4rem);
    background-color: var(--outer-backcolor);
    z-index: -1;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .center {
        width: calc(var(--outer-width) + 2 * var(--standart-margin))
    };
}

.started {
    .main-grid {
        width: var(--static-width);
        height: var(--static-height);
        height: 100%;
        grid-template-columns: none;
        grid-template-rows: none;
        margin: 0;
        /*
        .top-right {
            margin: 0 0 0 calc(var(--outer-width) - 2rem);
        }

        .bot-right {
            margin: 0 0 0 calc(var(--outer-width) - 2rem);
        }

        .top-left {
            margin: 0 1rem 0 0;
        }

        .bot-left {
            margin: 0 1rem 0 0;   
        }
        */
    }
}

.started1 {
    grid-area: 1 / 1 / 1 / 1;
}