:root {
    --standart-margin: 2rem;
    --outer-width: 25vw;
    --outer-height: 30vh;
    --inner-width: 22vw;
    --inner-height: 25vh;
    --static-width: calc(2 * var(--outer-width));
    --static-height: calc(2 * var(--outer-height));
    --main-backcolor: #09314B;
    --outer-backcolor: #0f4c75;
    --inner-backcolor: #3282b8
}

#flowButton {
    z-index: 5;
}

.inner {
    position: relative;
    border-radius: 1rem;
    background-color: var(--inner-backcolor);
    width:  var(--inner-width);
    min-width: 15rem;
    height: var(--inner-height);
    z-index: 1;
    margin: calc((var(--outer-height) - var(--inner-height)) / 2) auto;
}

.center {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    background-color: var(--main-backcolor);
}

.main-grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: calc(100% - (var(--static-height) + (4 * var(--standart-margin))));
    column-gap: calc(100% - (var(--static-width) + (4 * var(--standart-margin))));
    align-items: center;
}


.outer {
    background-color: var(--outer-backcolor);
    width: var(--outer-width);
    min-width: 15rem;
    height: var(--outer-height);
    padding: 0;
    margin: var(--standart-margin);
    .center {
        width: calc(var(--outer-width) + var(--standart-margin))
    };
    border-radius: 2rem;
}

.top-left {
    grid-area: 1 / 1 / 1 / 1;
}

.top-right {
    margin-left: 1vw;
}

.bot-left {
    margin-top: 1vh;   
}

.bot-right {
    margin-left: 1vw;
    margin-top: 1vh;
}



.backbox {
    position: absolute;
    width: calc(-1 * var(--static-width) + 100% + 4rem);
    min-width: calc(var(--outer-width) + 4 * var(--standart-margin));
    height: calc(-1 * var(--static-height) + 100% + 4rem);
    background-color: var(--outer-backcolor);
    z-index: -1;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .center {
        width: calc(var(--outer-width) + 2 * var(--standart-margin))
    };
}


.ru {
    top: 1rem;
    right: 1rem;
}

.lu {
    margin-bottom: -2rem;
    margin-right: -2rem;
}

.rd {
    bottom: 1rem;
    right: 1rem;
}

.ld {
    bottom: 1rem;
    left: 1rem;
}

.started {
    width: var(--static-width);
    height: var(--static-height);
    padding: 5rem
}

.started1 {
    margin: 0;
}

.started2 {
    width: 50%;
    .top-left {
        margin-left: var(--standart-margin);
        margin-top: var(--standart-margin)
    };
    .top-right {
        margin-left: 1vw;
    };
    .bot-left {
        margin-top: 1vh;   
    };
    .bot-right {
        margin-left: 1vw;
        margin-top: 1vh;
    };
}