:root {
    --standart-margin: 3rem;
    --outer-width: 25rem;
    --outer-height: 15rem;
    --inner-width: 22rem;
    --inner-height: 12rem;
    --static-width: calc(2 * var(--outer-width));
    --static-height: calc(2 * var(--outer-height));
    --main-backcolor: #09314B;
    --outer-backcolor: #0f4c75;
    --inner-backcolor: #3282b8
}

.inner {
    position: relative;
    border-radius: 2rem;
    background-color: var(--inner-backcolor);
    width:  var(--inner-width);
    height: var(--inner-height);
    z-index: 1;
    margin: calc((var(--outer-height) - var(--inner-height)) / 2) auto
}

.center {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    background-color: var(--main-backcolor);
}

.main-grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: calc(100% - (var(--static-height) + (4 * var(--standart-margin))));
    column-gap: calc(100% - (var(--static-width) + (4 * var(--standart-margin))));
    align-items: center;
}

.outer {
    flex-grow: 1;
    background-color: var(--outer-backcolor);
    width: var(--outer-width);
    height: var(--outer-height);
    padding: 0;
    margin: var(--standart-margin);
    .center {
        width: calc(var(--outer-width) + var(--standart-margin))
    };
    border-radius: 3rem;
    ;
}

.backbox {
    position: absolute;
    width: calc(-1 * var(--static-width) + 100%);
    height: calc(-1 * var(--static-height) + 100%);
    background-color: var(--outer-backcolor);
    z-index: -1;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/*
.ru {
    top: 1rem;
    right: 1rem;
}

.lu {
    top: 1rem;
    left: 1rem;
}

.rd {
    bottom: 1rem;
    right: 1rem;
}

.ld {
    bottom: 1rem;
    left: 1rem;
}
*/

.started {
    row-gap: 0;
    width: var(--static-width);
    height: var(--static-height);
}

.started1 {
    margin: 0
}

.started2 {
    width: 50%
}